.node {
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #0a0b0c;
}

.node:hover {
  fill: #60a3d9;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 160px;
  height: 80px;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

tr {
  background-color: #070300;
  color: #ffffff;
  font-size: 0.88rem;
}
th {
  padding: 0.3rem;
}
tbody {
  border-color: #070300;
}
td {
  background-color: #e7f0f7;
  color: #130101;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

.y.axis line {
  fill: none;
  stroke: #990000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.x.axis line {
  display: none;
}

.tick.g-baseline line {
  stroke: #990000;
  stroke-dasharray: 0;
  stroke-width: 2px;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
  pointer-events: none;
  fill: #242222;
}

.y.axis text {
  text-anchor: start !important;
  font-size: 12px;
  fill: #e6e6e6;
}

.domain {
  /* display: none; */
  stroke: #131212;
}

.line {
  stroke: #262626;
  stroke-width: 2px;
  fill: none;
}

.area {
  fill: #f2f2f2;
  opacity: 0.4;
}

.g-label-text {
  font-family: sans-serif;
  font-size: 14px;
}

.g-label-circle {
  fill: #4bc6df;
}

.micro-content {
  padding: 15px;
}

.mc-kicker {
  color: #a6a6a6;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}

.bolded {
  font-weight: 500;
  color: #262626;
}

.mc-head {
  color: #262626;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
div.tooltip2 {
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  color: #393636;
  pointer-events: none;
  padding: 10px;
}

#strip {
  background-color: AliceBlue;
}
